#search_block_top {
  background:#fff;
  border:1px solid #e5e5e5;
  border-radius:3px;
  position: absolute;
  z-index:1;
}
#search_block_top #searchbox {}
#search_block_top #search_query_top {
  background:none;
  color:#777;
  border: medium none;
  float: left;
  padding: 7px 10px;
}
#search_block_top .button-search {
  background: none;
  border: medium none;
  color: #999;
  float: right;
  padding:0;
  font-size: 17px;  
  height: 26px;
  width: 30px;
  text-align: center;
}

#search_block_top .button-search:before {
  content: "\f002";
  font-family: "FontAwesome";
}
#search_block_top .button-search:hover {color: #444;}

body .ac_results{
  border:none;
  box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.3);
}
body .ac_results li{
  font-family: inherit;
  font-size: 13px;
  padding:10px;
}
body .ac_results li.ac_odd{background:#f5f5f5;}
body .ac_results li.ac_over {
  background: #ddd;
  color: #333;
  cursor:pointer;
}


form#searchbox label {
color: #333333; }
form#searchbox input#search_query_block {
margin-right: 10px;
max-width: 222px;
margin-bottom: 10px;
display: inline-block;
float: left; }

