
.cart_block .deleteCustomizableProduct,
.cart_block .remove_link {
  position: absolute;
  right: 10px;
  top: 30px;
}
.cart_block .cart_block_list .remove_link a,
.cart_block .cart_block_list .ajax_cart_block_remove_link {color: #ff0000; text-decoration: none;}
.cart_block .cart_block_list .remove_link a:before,
.cart_block .cart_block_list .ajax_cart_block_remove_link:before {
  display: inline-block;
  content: "\f014";
  font-family: "FontAwesome";
  font-size: 21px;
}
.cart_block .cart_block_list .remove_link a:hover,
.cart_block .cart_block_list .ajax_cart_block_remove_link:hover {color: #333;}

.cart_block .cart-images {float: left; margin-right:10px;}
.cart_block .cart-info {float: left;}
.cart_block .cart-info .product-name {margin-bottom: 5px;}
.cart_block .cart-info .product-name a {color: #105BD5; text-decoration: none;}
.cart_block .cart-info .product-name a:hover {color: #F13340;}

.cart_block .cart-info .quantity-formated {
  display: inline-block;
  color: #777;
}

.cart_block dt {
  overflow: hidden;
  padding: 10px;
  position: relative;
}
.cart_block dd {position: relative;}
.cart_block dd li {padding: 10px 20px;}
.cart_block dd li .deleteCustomizableProduct {
  top: 12px !important;
  right: 15px !important;
}
.cart_block .cart_block_no_products {
  margin: 0;
  padding: 10px 20px; }
.cart_block .cart-prices {
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 10px;
}
.cart_block .cart-prices .cart-prices-line {
  overflow: hidden;
  padding: 5px 0;
}
.cart_block .cart-prices .cart-prices-line.last-line {border: none;}
.cart_block .cart-buttons {
  overflow: hidden;
  padding: 10px;
}
.cart_block .cart-buttons a {float: right;}
.cart_block .cart-buttons a#button_order_cart span i:before{margin-left: 5px;}
.cart_block .cart-buttons a#button_order_cart:hover {}

/*** Cart Block(Header) Styles ***/
#header .cart_block {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 290px;
}

#header .cart_block .price {}
#header .cart_block dt {border-top: 1px solid #e5e5e5;}
#header .cart_block dt.first_item {border-top:none;}
#header .cart_block dd {}
#header .cart_block .product-atributes {
  margin-bottom: 10px;
  font-size: 11px;
}
#header .cart_block .product-atributes a {color: #777; }
#header .cart_block .product-atributes a:hover {}
#header .cart_block #cart-prices {}
#header .cart_block #cart-buttons {}
#header .block_content {}

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block .title_block,
#header .cart_block h4 {display: none;}

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {float: right;}

.cart_block table.vouchers {
  clear: both;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .cart_block table.vouchers tr td {
    padding: 2px; }
    .cart_block table.vouchers tr td.quantity {
      margin-right: 5px;
      min-width: 18px; }
    .cart_block table.vouchers tr td.delete {
      padding-left: 0;
      padding-right: 0;
      text-align: right;
      width: 15px; }

/*** Layer Cart Css ***/
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.5;
  z-index: 102;
}

#layer_cart {
  background: #fff;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  z-index: 103;
}

#layer_cart .layer_cart_product {padding: 20px; overflow: hidden;}
#layer_cart .layer_cart_cart{
  background: #f5f5f5;
  padding: 20px;
  overflow: hidden;
}
#layer_cart .layer_cart_cart h3.subheading{
  color: #777;
  font-size: 20px;
  font-weight: normal;
}
#layer_cart .layer_cart_product h2 {
  background: #E9FED6;
  border: 1px solid #A9D77F;
  color: #368F44;
  margin-bottom: 20px;
  padding: 10px;
}
#layer_cart .layer_cart_product h2 i {
  font-size: 20px;
  float: left;
  margin-right: 8px;
}
#layer_cart .layer_cart_product .product-image-container {
  border: 1px solid #eee;
  padding: 5px 5px 2px;
  width: 100px;
}
#layer_cart .layer_cart_product .layer_cart_product_info {}
#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
  display: block;
  margin-bottom: 8px;
}
#layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_attributes{
  color: #777;
  font-size: 11px;
  display: block;
  margin-bottom: 8px;
}
#layer_cart .layer_cart_product .layer_cart_product_info > div {margin-bottom: 8px;}
#layer_cart .layer_cart_product .layer_cart_product_info > div strong {
  font-weight: bold;
  margin-right: 5px;
}

#layer_cart .layer_cart_cart h2 {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#layer_cart .layer_cart_cart .layer_cart_row {margin: 0 0 7px 0;}
#layer_cart .layer_cart_cart .button-container {margin: 20px 0 0;}
#layer_cart .layer_cart_cart .button-container .button {margin-top: 10px;}

#layer_cart .cross {
  color: #FF0000;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 5px;
  top: 0;
}
#layer_cart .cross:hover {color: #333;}
#layer_cart p {padding: 0px;}

/*** Cross Selling***/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #e5e5e5;
  padding: 20px;
}
#layer_cart .crossseling #blockcart_list {
  margin: 0 auto;
}
    