<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>blocktranslatethis</name>
            <displayName><![CDATA[Bloc TranslateThis]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Traduisez simplement votre site dans 52 langues gr&acirc;ce au script de TranslateThis]]></description>
            <author><![CDATA[Mediacom87]]></author>
            <tab><![CDATA[i18n_localization]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>