@media (min-width: 1024px) {
	#tptnmobilemenu{display: none;}
}	

@media (max-width: 1023px) {

	#tptnmobilemenu{
		position:absolute;
		width:100%;
		left:0;
		z-index:100;
	}
	#tptnmobilemenu .blockresp-title{
	    border-radius:0 0 5px 5px;
	    color: #FFFFFF;
	    font-family: 'Open Sans';
	    font-size: 14px;
		padding:0 10px;
		line-height:40px;
		text-transform: uppercase;
	}
	#tptnmobilemenu .tglr{
		float: right;
	    color: #fff;
	    font-size: 24px;
	    padding:6px 10px 2px;
	}

	.mobilemenu, .mobilemenu ul{list-style: none;}
	.mobilemenu,
	.mobilemenu #category-thumbnail{display:none;}
	.mobilemenu a {
		padding:10px;
		display: block;
	}
	.mobilemenu a:hover {text-decoration:none;}
	.mobilemenu ul li a {padding-left:20px;}
	.mobilemenu ul ul li a {padding-left:30px;}
	.mobilemenu .tptnresp-icon {
		background-image:url("../img/mob_tglr.png");
		background-repeat:no-repeat;
		background-color:rgba(0, 0, 0, 0.2);
		background-position:center 0;
		float:right;
		cursor:pointer;
		margin:5px 8px 0;
		height:26px;
		width:26px;
	}
	.mobilemenu .tptnresp-icon.active {background-position:center -26px;}
	.mobilemenu .tglr:hover,
	.mobilemenu .tptnresp-icon:hover,
	.mobilemenu .tptnresp-icon.active{background-color:rgba(0, 0, 0, 0.5);}

}

